<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NullLib.TickAnimation" version="1.0.2" targetFramework="net472" />
  <package id="NullLib.TickAnimation.Drawing" version="1.0.2.2" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
</packages>